<app-header></app-header>

<div class="main-container">
   <div>
      <img class="epsoft-img" src="https://media-exp1.licdn.com/dms/image/C5616AQFJMEtI0SXflw/profile-displaybackgroundimage-shrink_200_800/0/1626067949355?e=1659571200&v=beta&t=NIBwr41-I2s9E_tso7pEwMO8Yb_QRj9w7N7bPI3uzPQ" />
   </div>
   <div class="main-blog-container">
      <div class="blog-container shadow m-3">
         <div class="d-flex flex-column justify-content-start">
            <div class="">
               <img class="blog-img"
                  src="https://res.cloudinary.com/dbdrjxgra/image/upload/v1653701786/MicrosoftTeams-image-273-768x401.jpg_kbkw1s.webp" />
            </div>
            <div>
               <h1 class="blog-heading">Building a Business Case for Automation Process</h1>
               <p class="blog-matter">Modern businesses need solutions that drive measurable value. When it comes to
                  technology, the stake</p>
            </div>
            <!-- <p class="blog-btn">Read More</p> -->
         </div>
      </div>

      <div class="blog-container shadow m-3">
         <div class="d-flex flex-column justify-content-start">
            <div class="blog-clr">
               <img class="blog-img"
                  src="https://res.cloudinary.com/dbdrjxgra/image/upload/v1653701629/BPM-and-RPA-768x401.jpg_auoa2v.webp" />
            </div>
            <div>
               <h1 class="blog-heading">Understanding Business Process Management and RPA</h1>
               <p class="blog-matter">
                  Introduction As business technology has evolved and advanced, we’ve learned how to apply the same
                  ideas in different ways
               </p>
            </div>
            <!-- <p class="blog-btn">Read More</p> -->
         </div>
      </div>

      <div class="blog-container shadow m-3">
         <div class="d-flex flex-column justify-content-start">
            <div class="">
               <img class="blog-img"
                  src="https://res.cloudinary.com/dbdrjxgra/image/upload/v1653701701/newblogpimgis-768x401.jpg_chjnzs.webp" />
            </div>
            <div>
               <h1 class="blog-heading">
                  Process Automation and Customer Service
               </h1>
               <p class="blog-matter">
                  Great customer service relies on employees who can perform their jobs without bottlenecks or
                  impediments. It also requires
               </p>
            </div>
            <!-- <p class="blog-btn">Read More</p> -->
         </div>
      </div>

      <div class="blog-container shadow m-3">
         <div class="d-flex flex-column justify-content-start">
            <div class="">
               <img class="blog-img"
                  src="https://res.cloudinary.com/dbdrjxgra/image/upload/v1653702073/smart_hr_blog_fimg-768x401.jpg_gbptxo.webp" />
            </div>
            <div>
               <h1 class="blog-heading">How Smart HR Execs Leverage Automation
               </h1>
               <p class="blog-matter">
                  Business technology is at the heart of operations for most modern companies. But, as anyone who’s ever
                  used technology
               </p>
            </div>
            <!-- <p class="blog-btn">Read More</p> -->
         </div>
      </div>

      <div class="blog-container shadow m-3">
         <div class="d-flex flex-column justify-content-start">
            <div class="">
               <img class="blog-img"
                  src="https://res.cloudinary.com/dbdrjxgra/image/upload/v1653702059/MicrosoftTeams-image-242-768x401.jpg_qbx1rz.webp" />
            </div>
            <div>
               <h1 class="blog-heading">Low-Code for High-Quality
               </h1>
               <p class="blog-matter">

                  We’ve officially entered the age of citizen developers—business users who build applications and
                  programs even though they have little to no coding experience.

               </p>
            </div>
            <!-- <p class="blog-btn">Read More</p> -->
         </div>
      </div>


      <div class="blog-container shadow m-3">
         <div class="d-flex flex-column justify-content-start">
            <div class="">
               <img class="blog-img"
                  src="https://res.cloudinary.com/dbdrjxgra/image/upload/v1653702041/3-Reasons-We-are-not-your-avg-tech-vendor-768x401.jpg_rktj6u.webp" />
            </div>
            <div>
               <h1 class="blog-heading">The EPSoft Difference: 3 Things We Bring To The Table
               </h1>
               <p class="blog-matter">

                  Business technology is at heart of operations for most modern companies. But, as anyone who’s ever
                  used technology at work.
               </p>
            </div>
            <!-- <p class="blog-btn">Read More</p> -->
         </div>
      </div>








   </div>

</div>
