<div class="container edit-container">
  <h2>Edit Candidate Details</h2>
  <form
    class="form-container"
    #adduserform="ngForm"
    (ngSubmit)="updateCustomerById('candidateId')"
  >
    <!-- <div class="form-group">
          <label for="id">id:</label>
          <input type="text"class="form-control" required [(ngModel)]="customer.id"name="id" disabled>
        </div> -->
    <div class="form-group">
      <label for="Firstname">Candidate Id:</label>
      <input
        type="text"
        class="form-control"
        required
        [(ngModel)]="users.candidateId"
        name="candidateId"
        disabled
      />
    </div>
    <div class="form-group">
      <label for="Lastname">Full Name:</label>
      <input
        type="text"
        class="form-control"
        required
        [(ngModel)]="users.fullName"
        name="fullName"
        disabled
      />
    </div>
    <div class="form-group">
      <label for="Email">Email Id:</label>
      <input
        type="text"
        class="form-control"
        required
        [(ngModel)]="users.emailId "
        name="emailId"
        disabled
      />
    </div>
    <div class="form-group">
      <label for="Firstname">Mobile:</label>
      <input
        type="text"
        class="form-control"
        required
        [(ngModel)]="users.mobileNumber"
        name="mobileNumber"
        disabled
      />
    </div>
    <div class="form-group">
      <label for="Firstname">Qualification:</label>
      <input
        type="text"
        class="form-control"
        required
        [(ngModel)]="users.qualification"
        name="qualification"
        disabled
      />
    </div>
    <div class="form-group">
      <label for="Firstname">Skills:</label>
      <input
        type="text"
        class="form-control"
        required
        [(ngModel)]="users.skillSet"
        name="skillSet"
        disabled
      />
    </div>
    <div class="form-group">
      <label for="Firstname">Experience:</label>
      <input
        type="text"
        class="form-control"
        required
        [(ngModel)]="users.yearsOfExperience"
        name="yearsOfExperience"
        disabled
      />
    </div>
    <div class="form-group">
      <label for="Firstname">Expected CTC:</label>
      <input
        type="text"
        class="form-control"
        required
        [(ngModel)]="users.expectedCtc"
        name="expectedCtc"
        disabled
      />
    </div>
    <div class="form-group">
      <label for="Firstname">Comment:</label>
      <input
        type="text"
        class="form-control"
        required
        [(ngModel)]="users.comment"
        name="expectedCtc"
      />
    </div>
    <div class="form-group drop-down-edit-container">
      <label for="Firstname">Status:</label>
      <!-- <input type="text" class="form-control" required [(ngModel)]="users.status" name="status"> -->
      <div class="form-control drop-down-select">
        <select
          required
          [(ngModel)]="users.status"
          name="status"
          class="drop-down"
        >
          <option value="New Candidates" selected>New Candidates</option>
          <option value="Technical Round">Technical Round</option>
          <option value="Hr Round">Hr Round</option>
          <option value="Selected Candidates">Selected Candidates</option>
          <option value="withDrawn">WithDrawn Candidates</option>
        </select>
      </div>
    </div>
    <div class="update-back">
      <button type="submit" class="btn btn-success">update</button>&nbsp;&nbsp;
      <button type="button" class="btn btn-primary" (click)="gotolist()">
        back
      </button>
    </div>
    <!-- Example single danger button -->
    &nbsp;&nbsp;
    <!-- <div class="btn-group">
            <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                Action
            </button>
        </div> -->
  </form>
</div>
<br />
