<app-header></app-header>

<div class="">
    <h1 class="about-us-heading m-5">About Us</h1>
<div>
 <div class="d-flex flex-row">   
<div class="head-container">
<h1 class="heading m-4" >The Power of Human
Connection</h1>  
<p class="m-4">EPSoft is dedicated to the value of human connection – at the crossroads of innovation. Our goal is to build better technology for companies that need it by prioritizing the people who use it. We use software products and services to understand your most critical data and processes. Then, we map them to build an automated digital workforce that transforms your business operations. We value the human experience. We value you. We value your time. And we genuinely want to make work fun and productive again. </p>
</div> 
       
<div>
<img class="image" src="https://res.cloudinary.com/dbdrjxgra/image/upload/v1654217426/3-sitting-2-768x515.jpg_iyxaby.webp"/>
  </div>

</div> 
<div>
<div class="quote d-flex flex-column justify-content-center">
<h1 class="quote-matter">Every day really can be better than the last. Elevate the workday. Elevate the work experience. Elevate your team. Elevate your business with EPSoft.</h1>    
</div>    
 <div>
<div class="card-container d-flex flex-column justify-content-center"> 
 <h1 class="value-heading">Our Values</h1>
<div class="d-flex flex-row">
<div class="card1 d-flex flex-column w-25">
<h1 class="card-heading mt-5">Customer Champions</h1>
<p class="card-matter">We lean in to understand the nuances of our customers’ businesses and how our technology makes them better. Everything starts and ends with the customer experience in mind.</p>
</div>     
<div class="card1 d-flex flex-column w-25">
<h1 class="card-heading mt-5">Stewards of Transparency </h1>
<p class="card-matter">
    We trust the people we work with and we want them to trust us. Transparency breeds trust with everyone—our colleagues, partners and our customers—and is the foundation of our world-class customer experience and culture</p>
</div>    
<div class="card1 d-flex flex-column w-25">
<h1 class="card-heading mt-5">Innovators (Never Imitators)</h1>
<p class="card-matter">
    We are revolutionary pioneers of our age, breaking new ground with ingenuity. We operate through the lens of positive discontent, constantly looking to improve the status quo with creative intelligence and innovative problem solving
</p>
</div>
<div class="card1 d-flex flex-column w-25">
   <!--  <div class="color"></div> -->
<h1 class="card-heading mt-5">
    Servant Leaders
</h1>
<p class="card-matter">
    We listen as much as we speak, and we always lead with others in mind. We respect and deeply value people of all backgrounds and cultures, and we believe our differences are advantages.</p>
</div>
</div>

 </div>
</div>
</div>
    </div>
  </div>