<app-header></app-header>

<div class="main-container">
  <div class="image-container">
    <img
      class="image-register"
      src="https://thumbs.dreamstime.com/b/online-application-registration-form-graphics-concept-75688264.jpg"
      alt="EPSoft Logo"
    />
  </div>
  <div class="register-form-container">
    <h1 class="heading">Welcome To EPSoft</h1>
    <form class="registration-form" [formGroup]="registerForm">
      <!-- <div class="register-form-container"> -->
      <div class="form-shadow">
        <div class="inner-main-contianer">
          <div class="left-container">
            <div class="input-label-container">
              <label for="fullName">Full Name<em>*</em> </label>
              <input
                class="form-control"
                formControlName="fullName"
                type="text"
                id="fullName"
                placeholder="Enter your Full Name"
              />
              <span
                class="error-msg"
                *ngIf="
                  (registerForm.controls['fullName'].dirty || registerForm.controls['fullName'].touched) &&
                  registerForm.hasError('required', 'fullName')
                "
                >*Full Name is Required</span
              >
            </div>

            <div class="input-label-container">
              <label for="email">Email Id<em>*</em></label>
              <input
                class="form-control"
                formControlName="emailId"
                type="email"
                required="required"
                id="email"
                placeholder="Enter your Email Id"
                pattern="^\S*[@]\S*[.]\S*$"
              />
              <span
                class="error-msg"
                *ngIf="
                  (registerForm.controls['emailId'].dirty || registerForm.controls['emailId'].touched) &&
                  registerForm.hasError('required', 'emailId') || registerForm.controls['emailId'].hasError('pattern')
                "
                >*Invalid Email</span
              >
            </div>

            <div class="input-label-container">
              <label for="mobileNumber">Mobile Number<em>*</em></label>
              <input
                class="form-control"
                formControlName="mobileNumber"
                type="text"
                (keypress)="onlyNumbersAllowed($event)"
                id="mobileNumber"
                placeholder="Enter your Mobile Number"
                maxLength="10"
                minlength="10"
                matInput
              />
              <span
                class="error-msg"
                *ngIf="
                  (registerForm.controls['mobileNumber'].dirty || registerForm.controls['mobileNumber'].touched ) &&
                  registerForm.hasError('required', 'mobileNumber') || registerForm.controls['mobileNumber'].hasError('pattern')
                "
                >*Mobile Number is Required</span
              >
            </div>

            <div class="input-label-container">
              <label for="qualification">Qualification<em>*</em></label>
              <input
                class="form-control"
                formControlName="qualification"
                type="text"
                id="qualification"
                placeholder="Enter your Qualification"
              />
              <span
                class="error-msg"
                *ngIf=" (registerForm.controls['qualification'].dirty || registerForm.controls['qualification'].touched ) &&
                  registerForm.hasError('required', 'qualification')
                "
                >*Qualification is Required</span
              >
            </div>
          </div>

          <div class="right-container">
            <label>Years of Experience</label>

              <div
                class="form-control drop-down-container input-label-container"
              >
                <select class="drop-down" required formControlName="yearsOfExperience">
                  <option value="" disabled hidden>Select Experience</option>
                  <option value="0" selected>Fresher</option>
                  <option value="1">1 year</option>
                  <option value="2">2 years</option>
                  <option value="3">3 years</option>
                  <option value="4">4 years</option>
                  <option value="5">More than 4 years</option>
                </select>
              </div>
              <span
                class="error-msg years-error"
                *ngIf="
                (  registerForm.controls['yearsOfExperience'].dirty || registerForm.controls['yearsOfExperience'].touched ) &&
                  registerForm.hasError('required', 'yearsOfExperience')
                "
                >*Years Of Experience is Required</span
              >
              <p></p>

            <div class="input-label-container">
              <label for="dateOfBirth">Date of birth<em>*</em></label>
              <input
                class="form-control"
                formControlName="dateOfBirth"
                type="date"
                id="dateOfBirth"
                placeholder="Enter your  Date of birth"
              />
              <span
                class="error-msg"
                *ngIf="
                  (registerForm.controls['dateOfBirth'].dirty || registerForm.controls['dateOfBirth'].touched )&&
                  registerForm.hasError('required', 'dateOfBirth')
                "
                >*Date Of Birth is Required</span
              >
            </div>

            <div class="input-label-container">
              <label for="expectedCTC">Expected CTC<em>*</em></label>
              <input
                class="form-control"
                formControlName="expectedCtc"
                type="text"
                id="expectedCTC"
                placeholder="Enter your Expected CTC"
              />
              <span
                class="error-msg"
                *ngIf="
                  (registerForm.controls['expectedCtc'].dirty || registerForm.controls['expectedCtc'].touched )&&
                  registerForm.hasError('required', 'expectedCtc')
                "
                >*Expected CTC is Required</span
              >
            </div>

            <div class="input-label-container">
              <label for="skillSet">Skill Set</label>
              <textarea
                rows="2"
                cols="50"
                class="form-control"
                formControlName="skillSet"
                id="skillSet"
                placeholder="Enter your Skill Set"
              >
              </textarea>
              <span
                class="error-msg"
                *ngIf="
                  (registerForm.controls['skillSet'].dirty || registerForm.controls['skillSet'].touched  )&&
                  registerForm.hasError('required', 'skillSet')
                "
                >*SkillSet is Required<em>*</em></span
              >
            </div>
          </div>
        </div>
        <div class="register-button-container ml-auto">
          <!-- [disabled]="registerForm.invalid" -->
          <button
            class="btn btn-primary"
            (click)="register()"
            [disabled]="registerForm.invalid"
          >
            Register
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<!-- <div class="main-container">
  <div class="image-container">
    <img class="image"
      src="https://1853488463.rsc.cdn77.org/wp-content/uploads/2020/01/EPSoft%E2%84%A2-Technologies-Introduces-Intelligent-Process-Automation_-A-Digital-Service-with-a-Human-Focus.jpg"
      alt="EPSoft Logo">
  </div>
  <div class="register-form-container">
    <form action="/action_page.php" class="registration-form" [formGroup]="registerForm" (ngSubmit)="register()">
      <div class="input-label-container">
        <label for="fullName">Full Name</label>
        <input class="form-control" formControlName="fullName" type="text" id="fullName"
          placeholder="Enter your Full Name" /><br> -->

<!-- <span class="text-danger" *ngIf="registerForm.controls['fullname'].dirty && registerForm.hasError('required','fullname')">**Email Id is required</span> -->
<!-- <span id="fullname" class="text-danger font-weight-bold"> -->
<!-- </span> -->
<!-- <p>Form value: {{ requiredForm.value | json }}</p>
          <p>Form status: {{ requiredForm.status | json }}</p> -->

<!-- </div>
      <div class="input-label-container">
        <label for="email">Email id</label>
        <input class="form-control" formControlName="emailId" type="email" required="required" id="email"
          placeholder="Enter your Email Id" /> <br> -->

<!-- <div *ngif="email.touched && email-invalid" class="alert alert-danger">
            Email id is required
          </div> -->
<!-- <span class="text-danger" *ngIf="registerForm.controls['email'].dirty && registerForm.hasError('required','email')">**Email Id is required</span> -->
<!-- </div>
      <div class="input-label-container">
        <label for="mobileNumber">Mobile Number</label>
        <input class="form-control" formControlName="mobileNumber" pattern=" [1-9]{1}[0-9]{9}" maxlength="10"
          type="number" id="mobileNumber" placeholder="+91 Enter your Mobile Number" />
      </div>
      <div class="input-label-container">
        <label for="qualification">Qualification</label>
        <input class="form-control" formControlName="qualification" type="text" id="qualification"
          placeholder="Enter your Qualification" />
      </div>
      <div class="input-label-container">
        <label>Years of Experience</label>
        <select class="form-control" formControlName="yearsOfExperience">
          <option value="0">0</option>
          <option value="1">1 year</option>
          <option value="2">2 years</option>
          <option value="3">3 years</option>
          <option value="4">4 years</option>
          <option value="5">More then 4years</option>
        </select>
      </div>
      <div class="input-label-container">
        <label for="dateOfBirth">Date of birth</label>
        <input class="form-control" formControlName="dateOfBirth" type="date" id="dateOfBirth"
          placeholder="Enter your  Date of birth" />
      </div>
      <div class="input-label-container">
        <label for="expectedCTC">Expected CTC</label>
        <input class="form-control" formControlName="expectedCtc" type="text" id="expectedCTC"
          placeholder="Enter your Expected CTC" />
      </div>
      <div class="input-label-container">
        <label for="skillSet">Skill Set</label>
        <input class="form-control" formControlName="skillSet" type="text" id="skillSet"
          placeholder="Enter your Skill Set" />
      </div>
      <div class="input-label-container">
            <label for="resume">Resume</label>
            <input class="form-control"
             type="file" id="resume" placeholder="Upload your Resume" />
          </div> -->
<!-- <div><br>
        <button type="submit" formControlName="submit" class="btn-outline-primary registration" value="">Register
          now</button>
      </div> -->
<!-- (click)="register()"" -->
<!-- <script type="text/javascript">
            function validation(){
              var user=document.getElementById('fullname').value;
              if (user==""){
                document.getElementById('fullname').innerHTML="**This field is required";
                return false;
              }-->
<!-- }  -->
<!-- </script> -->
<!-- </form>
  </div>
</div>  -->
