/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css?family=Poppins:400,500i&display=swap");

body:not(.fas),
body:not(.fa) {
  font-family: "Poppins", sans-serif;
}

.carousel-control-prev {
  left: 0;
  display: none !important;
}

.carousel-control-next {
  right: 0;
  display: none !important;
}

.visually-hidden{
  display: none;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
