<div>
  <div class="d-flex flex-row">
    <div class="d-flex flex-column w-100">
      <!-- <app-navbar></app-navbar> -->
      <!-- <div class="button-container d-flex flex-row justify-content-between"> -->
      <!-- <a><button class="add-user-btn" routerLink="/adduser"  routerLinkActive="active-add-user"> <span class="plus" >+</span> Add User</button></a> -->
      <!-- <div class="d-flex flex-row ">
<div class="d-flex flex-row info icon-btn">
<mat-icon><span class="material-icons">home</span></mat-icon>
<a><h1 class="button1" routerLink="/login">Home</h1></a>
</div>
<div class="d-flex flex-row info icon-btn">
<mat-icon><span class="material-icons">info</span></mat-icon>
<a> <h1 class="button1" routerLink="/about" >About</h1> </a>
</div>
<div class="d-flex flex-row info icon-btn">
<mat-icon><span class="material-icons">blog</span></mat-icon>
<a> <h1 class="button1" routerLink="/blog" >Blog</h1></a>
</div>
</div> -->
      <!-- </div> -->
      <div class="d-flex flex-row justify-content-between">
        <!-- <a >
<button class="add-user-btn" routerLink="/adduser"  routerLinkActive="active-add-user"> <span class="plus" >+</span> Add User</button>
</a> -->
      </div>
      <div>
        <app-header></app-header>

        <div class="details-container">
          <!-- <app-userstable ></app-userstable> -->

          <div class="bg-color mt-5">
            <h1 class="home-heading mt-5">
              Integrated Process Management <br /><br />
              & Intelligent Automation
            </h1>
            <p class="home-para">
              Everything you need for end-to-end business process<br /><br />
              management and intelligent automation in one<br /><br />
              integrative platform.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
