<div class="container-fluid">
  <!-- <app-header></app-header> -->
  <!-- <div class="image-s"> -->

  <!-- <div class="row">
    <div class="col"></div>
    <div class="col text-center">
      <h2 class="name">Recruitment Process</h2>
    </div>
    <div class="col"></div>
  </div>
  <div class="topnav">
    <button (click)="getResponse()">
      <a>Response</a>
    </button>
    <button (click)="getFirstLevel()">
      <a>1<sup>st</sup> Level</a>
    </button>
    <a>2<sup>nd</sup> Level</a>
    <a>Offer Letter</a>
    <a> Withdraw </a>
  </div> -->
  <app-userstable></app-userstable>
</div>